.App {
  font-family: "SF Pro Text";
  letter-spacing: 0.3px;
  /* font-family: "Carlito";
  font-family: 'SarabunRegular';  */
  margin: 12px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-container {
  width: 100%;
  padding: 4px 0px;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 2px 4px;
}

.job-search-results-item-wrapper {
  padding: 12px;
  margin: 12px;
}
